* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* PALETA DE COLORES */
/* #70AF31 #fff  */

/* LOGIN */

.main{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../content/img/galeria1\ \(4\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}


.container-form{
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
}

.bienvenido{
    width: 45%;
    display: flex;
    align-items: center; /* poner el elemento en el centro del viewport */
    text-align: center;
    
}

.mensaje{
    margin: 30px;

}

.mensaje>h2{
    padding-bottom: 35px;
    font-size: 35px;
}

.mensaje>p{
    font-size: 25px;
    padding-bottom: 35px;
}

.btn{
    padding: 20px 35px;
    font-size: 22px;
    border-radius: 50px;
    background-color: blueviolet;
    cursor: pointer;
}

.formulario{
    width: 47%;
    border-radius: 30px;
    margin: 0 30px;
    align-items: center;
    text-align: center;
    padding:25px 25px 0 25px;
    background-color: rgba(59, 58, 58, 0.792);

}

.crear-cuenta {
    font-size: 2.3rem;
}

.iconos{
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
}

.icono{
    padding: 15px;
    border: #fff solid 2px;
    border-radius: 50px;
    font-size: 25px;
}

.icono:hover{
    background-color: #fff;
    color: black;
}

.formulario>p{
    margin-top: 20px;
    font-size: 25px;
    padding-bottom: 30px;
}

.formulario input{
    
    width: 100%;
    display: block;
    margin: 15px 0;
    padding: 20px; 
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    text-align: center;
    border-bottom: solid 2px #fff;
}

.formulario input[type="button"]{
    margin-top: 50px;
    border: #fff 2px solid;
    border-radius: 50px;
    background-color: #fff;
    font-size: 22px;
    cursor: pointer;
}

.registrarse{
    position: absolute; /* para que tome todo el ancho del padre */
    opacity: 0; 
    visibility: hidden; 
    transition: ease 0.3s;
}

/* clases puestas con JS */
.registrarse.active{
    transition: ease 0.5s;
    opacity: 1;
    visibility: visible;
} 

.iniciar.active{
    opacity: 0;
    visibility: hidden;
    
}


/*************************************** INDEX *****************************************/
.bodyIndex{
    height: 100vh;
    background-image: url("../content/img/Abstract\ green\ painting\ background.jfif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}

.mainIndex{
    font-family: 'passion one', sans-serif;
    display: flex;
    height: 100%;
    overflow: hidden;
}

.fondo2{
    width: 20%;
    height: 100%;
    background-image: url("../content/img/YURISA.jfif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* left: 5rem; */
    order: 9;   

}

.sectionIndex{
    width: 40%;
    margin: 100px;   
    align-items: center;
    text-align: center; 
}

.sectionIndex h1{
    font-size: 70px;
    color: #fff;
    margin-bottom: 60px;
}

.sectionIndex h2{
    font-size: 45px;
    color: #fff;
    margin-bottom: 50px;
}

.sectionIndex input{
    font-family: 'passion one', sans-serif;
    margin: 20px;
    border-radius: 50px;
    padding: 25px 30px;
    font-size: 30px;
    border: none;
    color: #70AF31;
    cursor: pointer;
}

.sectionIndex2{
    width: 20%;
    display: flex;
}

.img1{
    filter:drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.5));
    width: 250px;
    height: 250px;
    z-index: 98;
    position: relative;
    right: 19rem;
    order: 1;
}

.img2{
    width: 700px;
    height: 700px;
    z-index: 99;
    margin-top: 40px;
    position: relative;
    right: 6rem;
    filter:drop-shadow(20px 20px 20px rgba(0, 0, 0, 0.5)); 
}

.iconoIndex{
    margin-top: 200px;
    z-index: 97;
    position: relative;
    left: 15rem;
    font-size: 60px;
}

.iconoI{
    margin: 20px;
}

.iconoI:hover{
    color: #70AF31;
    cursor: pointer;
}


/* clases con JS */

.fondo2T{
    transition: unset .3s;
    background:url("../content/img/Download\ wallpaper\ 480x800\ red\,\ background\,\ texture\ nokia\ x\,\ x2\,\ xl\,\ 520\,\ 620\,\ 820\,\ samsung\ galaxy\ star\,\ ace\,\ asus\ zenfone\ 4\ hd\ background.jfif");
    background-repeat: no-repeat;
    background-size:85%;
    position: relative;
}

.inputT{
    color: #D93D59 !important; 
}

.IconoT:hover{
    color:#D93D59
}

.img1T{
    width: 500px;
    height: 500px;
    position: relative;
    bottom: 7rem;
}

/*************************************** HOME VEGANO ************************************/
/* BODY */
.bodyV{
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
}


/* HEADER - NAV */

.home_headerV{
    height: 10vh;
    background-color: #70AF31;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_vegan{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 40px;
    align-items: center;
}

.iconoHV{
    margin: 40px; 
    height: 100px;
}

.user{
   font-size: 35px;
   color: #fff;
   text-decoration: none;
   transition: .3s;
}

.user:hover{
    font-size: 40px;
    
 }

.dato{
    margin: 15px;
    position: relative; /* porque usaremos una pseduoclase */
}

.dato .menu{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    transition: all .3s;
    
}

.menu:hover{
    font-size:23px;
    letter-spacing: 1.5px;
}

/* indicador animado */
/* after que va a estar despues del contenido */
.dato::after{
    content: ""; /* esto para poder pintar */
    width: 0;
    height: 4px;
    background-color: #42770c;
    position: absolute; /* para poder posicionarlo de acuerdo a su padre mas cercano (dato) */
    bottom: 0;/* lo posiciona abajo */
    right: 50%; /* lo posiciona al centro */
    transition: all .8s;
    will-change: width; /* indicarle que espera cambios en el width  */
}

.dato:hover:after{
    width: 100%;
    right: 0;
}


/*----- SLIDER------ */

/* tamaño contenedor */
.Home_main{
    width: 100%;
}

.Home_slider{
    width: 90%;
    height: 625px;
    background-color: rgb(17, 83, 141);
    margin: 0 auto;
    max-width: 120em;
    overflow: hidden;
   
}

.Contenedor_slider{
    /* porque son 3 imagenes */
    width: 300%;
    /* para que las imagenes se pongan una a lado de la otra */
    display: flex;
    align-items: center;
    /* transition */
    transition: all .5s ease;
    transform: translateX(0%);

}

.slider_img{
    background-color: #70AF31;
    /* calcular el tamaño que debera cada imagen */
    width: calc(100% / 3);
    height: 570px;
    object-fit: cover; /* ajustar la imagen al contenedor */
    
}

.puntos{
    width: 100%;
    background-color: #F5F5F5;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
   
}

.punto{
    width: 15px;
    height: 15px;
    margin: 5px;
    border-radius: 50px;
    cursor: pointer;
    background-color: #719053;
}

.activo{
    background-color: #70AF31;
}

/*---- SECCION ESPECIALIDADES----- */  

.especialidades{
    width: 90%;
    margin: 0 auto;
}

.especialidades>h1{
    text-align: center;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 35px;
}

.containerHV{
    display: flex;
    justify-content: space-between;
}


.img_container{
    display: flex;
    align-items: center;
   
}

.imgHV2{
    width: 300px;
    height: 200px;
}

.imgHV{
    width: 280px;
    height: 280px;
}

.tittle_container{
    width: 100%;
    display: block;
    overflow: hidden; /* para que los demas parrafos se escondan */ 
}

.titles{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    padding-bottom: 20px;
}

.parrafo_container{
    display: flex;
    width: 300%;
    transition: all .5s ease;
    transform: translateX(0%);
    overflow: hidden;
}

.parrafo_container>p{
    width: calc(300%/3);
    font-weight: 300;
    text-align: justify;
}

.subtitleHV{
    position: relative; /* porque usaremos una pseduoclase */
    cursor: pointer;
}


/* indicador animado */
/* after que va a estar despues del contenido */
.subtitleHV::after{
    content: ""; /* esto para poder pintar */
    width: 0;
    height: 4px;
    background-color: #70AF31;
    position: absolute; /* para poder posicionarlo de acuerdo a su padre mas cercano (dato) */
    bottom: 0;/* lo posiciona abajo */
    right: 100%; /* lo posiciona al centro */
    transition: all .8s;
    will-change: width; /* indicarle que espera cambios en el width  */
}

.subtitleHV:hover:after{
    width: 100%;
    right: 0;
}

/* clase con JS */

.border{
    border-left: 3px solid #70AF31;
}


/*------- CONOCE NUESTRO MENU -------*/

.conoceHV{
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    height: 400px;
    background-image: url(../content/img/edgar-castrejon-J04BD4ysoh8-unsplash-modified.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
}

.conoceHV>h2{
    color: #fff;
    padding-top: 7%;
    font-size: 60px;
    letter-spacing: 2px; 
    margin-bottom: 150px;
}

.enlaceHV{
    padding: 20px 80px; 
    background-color: #fff;
    border-radius: 50px;
    font-size: 30px;
    text-decoration: none;
    color: #70AF31;
    font-weight: bold;
    letter-spacing: 2px;
    transition: all .5s;
     border: 3px solid #45a924;
}

.enlaceHV:hover{
    letter-spacing: 5px;
    color: #6eff3e;
    border: solid 3px #6eff3e;
    background-color: rgba(255, 255, 255, 0.313);
    box-shadow: 0 0 35px #6eff3e ;
    
}

/*------- OFERTAS --------- */

.ofertaHV{
    width: 90%;
    margin: 0 auto;
    
}

.ofertaHV .title_oferta{
    text-align: center;
    letter-spacing: 2px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 35px;
}

.ofertaHV hr{
    width: 500px;
    height: 7px;
    margin: 0 auto;
    background-color: #70AF31;
    margin-bottom: 40px;
}

.oferta_containerHV{
    display: flex;
    gap: 20px; 
}

.oferta_card{
    margin-bottom: 50px;
}

.card_hover{
    width: 28.5vw;
    height: 60vh;
    background-color: #1f3d4738;
    position: absolute;
    bottom: -202.8%;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .7s;

}

.card_hover:hover{
    bottom: -201.8%;
    opacity: 1;
}

.titulo_hover{
    font-size: 50px;
}

.texto_hover{
    font-size: 16px;
    line-height: 25px;
    padding: 10px;
    text-align: center;
}


.oferta_card img{
    width: 28.5vw;
    height: 60vh;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
    
}


.oferta_card>h3{
    font-size: 1.2em;
    margin-bottom: 10px;
}


.oferta_card >p{
    text-align: justify;
    margin-bottom: 20px;
}


.oferta_card> a{
    margin-left: 180px;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 50px;
    font-size: 20px;
    letter-spacing: 1px;
    color: #70AF31;
    border: 1px solid #45a924;
    transition: all .4s;
}

.oferta_card>a:hover{
    letter-spacing: 1.7px;
    color: #45a924;
    border: solid 3px #5ad631;
    background-color: rgba(255, 255, 255, 0.313);
    box-shadow: 0 0 35px #5ad631 ;
}

/* ------------CONOCE NUESTRO SABOR ---------------- */

.saborHV{
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    height: 400px;
    background-image: url(../content/img/ella-olsson-2IxTgsgFi-s-unsplash-modified.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
}

.sabor_title{
    color: #fff;
    padding-top: 14%;
    font-size: 60px;
    letter-spacing: 2px; 
    margin-bottom: 150px;
}

/*-------- TESTIMONIOS -----------*/

.testimonios .title_oferta{
    text-align: center;
    letter-spacing: 2px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 35px;
}

.testimonios hr{
    width: 500px;
    height: 7px;
    margin: 0 auto;
    background-color: #70AF31;
    margin-bottom: 40px;
}

.slider_test{
    width: 90%;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #F7FBF6;
    box-shadow: 10px 10px 50px 8px rgba(0,0,0,0.14);
    overflow:hidden ; /* para que se escondan los demas comentarios */
}

.info_test{
    display: flex;
    justify-content: center;
}

.info_test>a{
    font-size: 30px;
    margin-top: 15px;
    margin-right: 10px;
    text-decoration: none;
    color: #000
}

.info_test .nombre_test{
    margin-top: 15px;
}

.slider_test>h3,p{
    text-align: center;
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: 100;
}

.slider_test .texto_test{
    padding: 0px 25px 25px 25px;
}

.test_container{
    display: flex;
    width: 300%;
    transition: all .5s ease;
    transform: translateX(0%);

}

.test_container>p{
    width: calc(300% / 3);
    font-weight: 300;
    text-align: justify;
}

.lugarHV{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.lugarHV>h2{
    text-align: center;
    letter-spacing: 2px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 35px;
}

.lugarHV>hr{
    width: 500px;
    height: 7px;
    margin: 0 auto;
    background-color: #70AF31;
    margin-bottom: 40px;
}

.lugarHV .lugar_img{
    object-fit: cover;
    width: 500px;
    height: 500px;
    margin-left: 25px;
}

/*-------------- FOOTER ------------*/

.footerHV{
    display: flex;
    justify-content: space-around;
    background-color: #70AF31;
    color: #fff;
    
}

.footerHV .direccion, .telefonos, .redes{
    margin-top: 15px;
}

.direccion h3, p{
    padding: 5px;
}

.telefonos pre, h3{
    padding: 5px;
}

.redes{
    margin-top: 30px;
    font-size: 30px;
    text-decoration: none;
}

.redes>a{
    padding: 15px;
    color: #fff;
}


    










